{#
/**
 * @file
 * This is a template file.
 */
#}

{{ attach_library('platform_footer/styles') }}
<div class="platform_sh_widget">
  Hosting sponsored by the <a title="platform.sh" href="http://platform.sh/?medium=referral&utm_campaign=sponsored_sites&utm_source=drupal_fi"><img class="image--inline platformsh-logo" src="https://platform.sh/logos/redesign/Platformsh_logo_white@2x.png" alt="platform.sh logo" style="padding: 0 3px 0 3px;height: 1.1em; vertical-align: text-bottom;"/></a> <a href="http://platform.sh/?medium=referral&utm_campaign=sponsored_sites&utm_source=drupal_fi">Drupal Cloud Hosting</a> Service
</div>
